.image-fill-32 img {
  height: 32px;
  object-fit: fill;
}

.image-fill-64 img {
  height: 64px;
  object-fit: fill;
}

.image-fill-256 img {
  height: 256px;
  object-fit: fill;
}

.image-cover-256 img {
  height: 256px;
  object-fit: cover;
}

.image-cover-128x128 {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.image-rounded-32 img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%
}

.image-rounded-50 img {
  border-radius: 50%
}

.profile-200-round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 3px #000;
}

.profile-200 {
  width: 200px;
  height: 200px;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.profile-300 {
  width: 300px;
  height: 300px;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.cropped-h512 {
  height: 400px; /* height of container */
  overflow: hidden;
}

.cropped-64x64 {
  width: 64px; /* width of container */
  height: 64px; /* height of container */
  overflow: hidden;
}

.cropped-256x256 {
  width: 256px; /* width of container */
  height: 256px; /* height of container */
  overflow: hidden;
}

.cropped-rounded-32x32 {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.cropped-rounded-64x64 {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
}

.cropped-rounded-128x128 {
  width: 128px; /* width of container */
  height: 128px; /* height of container */
  overflow: hidden;
  border-radius: 50%;
}

.cropped-rounded-256x256 {
  width: 256px; /* width of container */
  height: 256px; /* height of container */
  overflow: hidden;
  border-radius: 50%;
}

/*.cropped img {*/
/*  margin: -10px 0px 0px -180px;*/
/*}*/

body { overflow-x: hidden; }

@media (max-width: 732px) {
  .cropped-rounded-256x256 {
    width: 64px; /* width of container */
    height: 64px; /* height of container */
    overflow: hidden;
    border-radius: 50%;
  }
  .is-ellipsis {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cropped-h512 {
    height: 200px; /* height of container */
    overflow: hidden;
  }
}

/*@media screen and (max-width: 1024px) {*/
/*  .columns {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 768px) {*/

/*  .columns {*/
/*    margin-left: -2rem;*/
/*    margin-right: -2rem;*/
/*    margin-top: -2rem;*/
/*  }*/

/*}*/
