html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  /*overflow-x: hidden;*/
}

body::after {
  content: '';
  display: block;
  height: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.has-margin-3 {
  margin: 3px !important;
}

.has-margin-bottom-3 {
  margin-bottom: 3px !important;
}

.profile-28-round {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.profile-128-round {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.profile-200-round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.profile-200 {
  width: 200px;
  height: 200px;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.profile-300 {
  width: 300px;
  height: 300px;
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.has-max-height-500 {
  max-height: 500px !important;
}

.has-max-height-300 {
  max-height: 300px !important;
}

.height-50vh {
  max-width: 100%;
  height: auto;
  max-height: 50vh;
  min-height: 50vh;
}

.crop-to-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.crop-to-fit img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.is-overlay-right {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  z-index: 3 !important;
}

.is-overlay-left {
  position: absolute !important;
  top: 5px !important;
  left: 5px !important;
  z-index: 3 !important;
}

.is-overlay-top-right {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  z-index: 3 !important;
}

.is-overlay-bottom-left {
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;
  z-index: 3 !important;
}

.is-overlay-bottom-right {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  z-index: 3 !important;
}

.follow-me {
  position: absolute !important;
  bottom: 30px !important;
  right: 0 !important;
  z-index: 3 !important;
}

.is-overlay-hover:hover .is-disabled-till-hover {
  display: block;
}

.is-disabled-till-hover {
  display: none;
}

.image-fit-cover {
  object-fit: cover;
  object-position: center;
}

.rounded-50 {
  border-radius: 50%;
}

.square-24 {
  width: 24px;
  height: 24px;
}

.square-28 {
  width: 28px;
  height: 28px;
}

.square-32 {
  width: 32px;
  height: 32px;
}

.square-64 {
  width: 64px;
  height: 64px;
}

.square-128 {
  width: 128px;
  height: 128px;
}

.square-400 {
  width: 400px;
  height: 400px;
}

.has-border-and-shadow {
  border: solid 1px #0a0a0a;
  box-shadow: 0 0 3px 2px #ccc;
}

.truncate-long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 732px) {

}

/*@media screen and (max-width: 1024px) {*/
/*  .columns {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*  }*/
/*}*/

/*@media screen and (min-width: 768px) {*/

/*  .columns {*/
/*    margin-left: -2rem;*/
/*    margin-right: -2rem;*/
/*    margin-top: -2rem;*/
/*  }*/

/*}*/
